.u-section-1 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1050px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 100%;
  width: 450px;
  height: 564px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1050px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-family: Roboto, sans-serif;
  letter-spacing: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 103px 0 27px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 300;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 676px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 514px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1230px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -54px;
    margin-right: 30px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 663px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 376px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1518px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1086px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1626px;
  }
}